// Place all the styles related to the public/cart_items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table, tr, th, td{
  border: 1px solid black;
}

th, td{
  padding: 10px 3px;
}

th{
  background-color: #EEEEEE;
}