// Place all the styles related to the public/customers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.font-small{
  font-size: 20px;
}

.ml-30{
  margin-left: 30%;
}

.link-blue{
  color: blue;
  text-decoration: underline;
}

.label-font{
  font-weight: bold;
  width: 10%;
}