// Place all the styles related to the public/homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.back-cake{
  height: 430px;
  background-image: url(https://static.amanaimages.com/imgroom/rf_preview640/20013/20013008770.jpg);
  background-size: cover;
  background-position: center;
}
.white-color{
  color: #DDFFFF;
  margin-top: 150px;
  font-size: 20px;
}
.btn-blue{
  text-decoration: underline;
  color: blue;
}