// Place all the styles related to the public/orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table{
  width: 100%;
}

th, td{
  padding: 10px 3px;
}

th{
  background-color: #EEEEEE;
}



.bold{
  font-weight: bold;
}

.thank-text{
  text-align: center;
  margin-top: 25%;
}