<h1>会員一覧</h1>

<p>会員ID</p>
<p>氏名</p>
<p>メールアドレス</p>
<p>ステータス</p>

<% @customers.each do |customer| %>
  <%= customer.id %>
  <%= customer.last_name + customer.first_name %>
  <%= customer.email %>
  <%= customer.is_deleted %>
<% end %>