<div class="row">
  <h2 class="px-4 py-0 text-center my-3 back-color">会員一覧</h2>
</div>

<p>会員ID</p>
<p>氏名</p>
<p>メールアドレス</p>
<p>ステータス</p>

<% @customers.each do |customer| %>
  <%= customer.id %>
  <%= link_to customer.last_name + customer.first_name, admin_customer_path(customer.id) %>
  <%= customer.email %>
  <%= customer.is_deleted %>
<% end %>

<!--bootstrapで整える-->