// Place all the styles related to the admin/customers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.text-underline{
  text-decoration: underline;
}

.edit-btn{
  margin-left: 25%;
}

.update-btn{
  margin-left: 16%;
}