/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";

 .back-color{
   background-color:#EEEEEE;
 }

 a{
 text-decoration: none;
 color: black;
}

 .pagination {
  justify-content: center;
}

.pagination {
  justify-content: center;
}
.pagination>li>a {
  border: none;
}

.wid-100{
  width: 100%;
}

.wid-80{
  width: 80%;
}

.wid-68{
    width: 68%;
}

.wid-60{
 width: 60%;
}

.wid-52{
  width: 52%;
}

.wid-50{
  width: 50%;
}

.wid-48{
    width: 48%;
}

.wid-40{
  width: 40%;
}

.wid-30{
 width: 30%;
}

.wid-25{
    width: 25%;
}

.wid-24{
 width: 24%;
}

.wid-16{
  width: 16%;
}

.wid-15{
  width: 15%;
}

.wid-6{
 width: 6%;
}